%form
  %label checkbox pour valider l'autre cocher oui
  %input{ :type => "checkbox", :id => "oui", :value => "oui" } oui

  %input{ :type => "checkbox", :id => "non", :value => "non"} non
  %p
  %label choix 2 si valide
  %input.view{ :type => "checkbox", :value => "12", :disabled => true} 12
  %input.view{ :type => "checkbox", :value => "13", :disabled => true } 13