---
title: Cv

# true if the page is included in the menu
listed: true

published: true

---

{% extends parent %}

{% block main %}
.container
  .l-container.bg-white
    %h1.cv_Title Milliere Christophe
    .paragah
      A très grande tendance autodidacte, j'ai un profil plutôt orienté développement d'applications mobile et site web pour un  marché en pleine expansion.
      %br
      A cette occasion, j'ai pu développer des compétences en tant que développeur iOS, ainsi qu'une expérience reconnue de l'intégration de sites mobiles/responsives.

    %h1.title_theme.espacement Compétences
    .language
      %h2
        Langages web
      .tech
        %p
          HTML5
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        .clear
      .clear

      .tech
        %p
          CSS
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        .clear
      .clear

      .tech
        %p
          Javascript
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear

      .tech
        %p
          Ruby on rails
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear

      .tech
        %p
          SASS
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear

      .tech
        %p
          Compass
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear
      %h2
        Langages de programation
      .tech
        %p
          Java
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear

      .tech
        %p
          C#
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear

      .tech
        %p
          Objectif-C
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear
      .tech
        %p
          IOS
      .notification
        %span.rounded.is-selected
        %span.rounded.is-selected
        %span.rounded
        %span.rounded
        %span.rounded
        %span.rounded
        .clear
      .clear
    %h1.title_theme.espacement Expérience Professionelle

    .exprience
      .exprience-date
        01/10/2013 - Actuellement
      .experience-desc
        %p
          Le wattman
        .paragah
          Création de site avec LocomotiveCMS, modification de l’application   iPad supinfo (framework titanium), modification de   l’application ios spotted (rubyMotion)

    .exprience
      .exprience-date
        01/01/2013 - 02/04/2013
      .experience-desc
        %p
          Zone Rouge 92
        .paragah
          Création d’une partie membre sous wordpress plus maintenance sur des petits sites.
    .clear
    .exprience
      .exprience-date
        20/12/2010 - 31/12/2011
      .experience-desc
        %p
          Previsite - Suresnes, 92
        .paragah
          Création de site avec LocomotiveCMS, modification de l’application   iPad supinfo (framework titanium), modification de l’application ios spotted (rubyMotion)

    .exprience
      .exprience-date
        15/02/2009 - 15/02/2010
      .experience-desc
        %p
          Backelite – Paris , 75009
        .paragah
          Intégration des éléments graphiques en HTML/CSS pour site web et site mobile (iPhone/Android). Dynamisation des sites en Javascript et PHP.

    .exprience
      .exprience-date
        10/02/2009 - 13/02/2010
      .experience-desc
        %p
          Wengo – Paris, 75008
        .paragah
          Intégration des éléments graphique en html/css et Gadget en javascript.
    .clear
    %h1.title_theme.espacement Loisirs
    .center.paragah
      Football , Cinéma Historique, voyages, histoire de l'Art,


{% endblock %}